{% extends "base.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ static("css/index.css") }}">
{% endblock %}

{% block content %}
    <div class="left-column col-2">
        <ul class="department-microservices container">
            <header>Микросервисы департамента</header>
            {% for service in department_bound %}
                <li><a href="{{ url("microservice:microservice", kwargs={'id': service.id}) }}">{{ service.name }}</a></li>
            {% else %}
                <li>Нечего отображать ¯\_(ツ)_/¯</li>
            {% endfor %}
        </ul>
        <ul class="favorites container">
            <header>Избранные микросервисы</header>
            {% for service in favorites %}
                <li><a href="{{ url("microservice:microservice", kwargs={'id': service.id}) }}">{{ service.name }}</a></li>
            {% else %}
                <li>Нечего отображать ¯\_(ツ)_/¯</li>
            {% endfor %}
        </ul>
    </div>
    <div class="main-column col-10">
        <header>Новости</header>
        <div class="news-container">
            {% for article in news %}
                {% if article.microservice_id != None %}
                    <a href="{{ url("microservice:microservice", kwargs={'id': article.microservice_id}) }}"
                       class="news-card col-5">
                        <header>{{ article.header }}</header>
                        <div class="news-body">{{ article.body }}</div>
                    </a>
                {% else %}
                    <article class="news-card col-5">
                        <header>{{ article.header }}</header>
                        <div class="news-body">{{ article.body }}</div>
                    </article>
                {% endif %}
            {% else %}
                <div class="no-updates">No updates</div>
            {% endfor %}
            {% if len(news) % 2 == 1 %}
                <div class="col-5"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}