body {
    padding-top: 2rem;
    background-color: #C4C4C4;
}

body > header {
    background-color: #3E938A;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.logo img {
    width: 100%;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input[type=submit] {
    flex-grow: 1;
    margin-left: 1rem;
}

.search input[type=text] {
    border-color: transparent;
    border-radius: 3px;
    line-height: 1.8rem;
}

.account button {
    width: 100%;
    font-size: 2rem;
    line-height: 2rem;
}